.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 22px;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 32px;
    max-width: 1120px;
}

.header .calendarWrapper {
    display: none;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 333px;
    height: 24px;
    position: absolute;
}

.container div {
    display: flex;
    align-items: center;
}

.img {
    width: 20px;
    height: 22px;
    margin-right: 10px;
    cursor: pointer;
}

.text {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}